.App {
  background-color: #282c34;
  min-height: 75vmax;
  height: 100vh;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

body,html {
  height: 100%;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
}
.footer {
  font-size:11px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header {
  vertical-align: top;
  font-size: 20px;
  font-weight:bold;
}

.sliderLabel {
  text-align: center;
  font-size: 15px;
  padding-right: 5px;
  padding-left: 20px;
  font-weight:bold;
}
.centered{
  vertical-align: center;
  text-align: center;
  align-self: center;
  align-items: center;
}
.topic {
  vertical-align: top;
  font-size: 15px;
  font-weight:bold;
  text-align: center;
  margin-bottom: 10px;
}
.noPadding{
  margin: 1px;
  padding: 1px;
}

.sortable{
    cursor: pointer;
}

.error{
font-size: 17px;
margin: 10px;
margin-left: 60px;
margin-right: 60px;
color:#dc3545;
}

.inlineForm{
  justify-content: center;
}
.smallTextBox {
  margin-left:10px;
  margin-right:5px;
  min-height: 10px;
  min-width: 10px;
  max-width: 50px;
  margin-bottom: 10px;
  background: #282c34;
  background-color: #282c34;
  color: #f8f9fa;
  border-color: #f8f9fa;
  font-size: 12px;
}
.mytable{
    font-size: 19px;
}
.smallerText {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
  color: white;
}
.description {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.leftform {
  padding-left: 130px;
  padding-right: 100px;
  font-size: 15px;

}

.myform{
  padding-left: 15%;
  padding-right: 15%;
}

.centerform {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 15px;
  align-items: right;
  text-align: right;
}

.myTextAreas {
  margin-left: 10px;
  margin-right: 100px;
  vertical-align: top;
  width: 200px;
  max-lines: 100;
  word-break: break-word;
}

.rightform {
  padding-left: 150px;
  padding-right: 150px;
  font-size: 15px;
  align-items: right;
  text-align: right;
}

.App-link {
  color: #09d3ac;
}
